{% extends 'base.html.twig' %}

{% block title %}{{ topic.title }}{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-2">
                <a class="btn btn-primary mt-2" href="{{ path('homepage') }}">Terug</a>
            </div>
            <div class="col-8">
                <h1>{{ topic }}</h1>
                {{ form_start(form
                ) }}
                {{ form_row(form.title,
                    {'attr': {'class': 'form-control', 'required': true}}
                ) }}
                {{ form_row(form.text,
                    {'attr': {'class': 'form-control', 'rows': '4', 'required': true}}
                ) }}
                {% do form.picture.setRendered %}
                {% do form.created_at.setRendered %}
                {% do form.user_id.setRendered %}<br>
                {{ form_end(form) }}
                <br>
                {% for p in posts %}
                    <div class="card">
                        <div class="card-header">
                            <div class="container">
                                <div class="row">
                                    <div class="col-6">
                                        <h5 class="card-title m-0 p-0">{{p.title}}</h5>
                                    </div>
                                    <div class="col-6">
                                        {% if is_granted('ROLE_ADMIN') %}
                                            <a href="{{ path('delete_post', {id: p.id}) }}" type="button" class="close float-right" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </a>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <h6 class="card-subtitle mb-2 text-muted">Gepost door: {{ p.username }}</h6>
                            {{ p.text }}
                        </div>
                    </div>
                    <br>
                {% endfor %}
            </div>
            <div class="col-2">
                <div class="dropdown">
                    <a class="float-right btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{ app.user.username }}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="{{ path('app_logout') }}">Uitloggen</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
